/*Painel WP - AUTOMAÇÕES PGLS DGIN*/
h1.titulo-autpgls{
    font-size: 1.9em;
    font-weight: 500;
    color: #052540;
    padding: 27px;
    text-align: center;
    margin: 0 0 1rem;
    background: #fff;
    border-bottom: 1px solid #dcdcde;
}
div.container-autpgls{
    background-color: #f8f8f8;
    margin-top: 2%;
    font-size: 16px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.14),
                0 2px 2px 0 rgba(0,0,0,0.12),
                0 1px 3px 0 rgba(0,0,0,0.20);
}
div.container-autpgls form{
    padding: 40px;
}
div.container-autpgls input,
div.container-autpgls textarea{
    margin-top: 1.3%;
    border: 1px solid #ccc;
}
div.container-autpgls input[type=text]{
    min-width: 100%;
    width: auto;
    height: 3em;
    
}
div.container-autpgls input[type=number]{
    height: 3em;
    margin-top: 3.3%;
    width: 6em;
}
select#encerramento_periodo{
    width: auto;
    min-width: 9em;
    margin-top: -0.7%;
}
div.container-autpgls select{
    min-width: 15em;
    width: auto;
    height: 3em;
    border: 1px solid #ccc;
    margin-top: 3.3%;
}

div.container-autpgls textarea{
    min-width: 100%;
    height: 15em;
    margin-top: 2.3%;
}

div.container-autpgls input[type=submit]{
    padding: 5px 15px;
    font-size: 14px;
    text-transform: uppercase;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
.form-group {
   flex: 1 1 48%; /* Faz com que cada grupo ocupe 48% da largura disponível */
}

/*Popup-automações*/
#success-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px 1600px rgb(5 37 64 / 76%), 0 20px 10px -15px rgb(0 0 0 / 85%);
    padding: 20px;
    background-color: white;
    z-index: 1000;
    width: 30%;
    height: auto;
    border-radius: 10px;
    text-align: center;  
    border:1px solid #407211;
    border-top:18px solid #407211;
}
#success-popup h1{color: #407211;margin-top: 3%;}
#success-popup h2{
    font-size:1.8em;
}
#success-popup p, #success-popup a{
    font-size:17px;
    color: #384055;
   
}

#success-popup .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
}

#success-popup button {
    background: #5f625c;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 13px;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

#success-popup button.acessar-pagina {
    border: 2px solid #407211;
    background: #ffffff;
    text-transform: uppercase;
    color: #407211;
}